body {
    font-family: 'Segoe UI', sans-serif;
    color: rgb(173, 173, 173);
    background-color: rgb(30, 30, 30);
    font-size: 12pt;
}

button {
    font-size: 11pt;
}

input {
    font-size: 12pt;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

span {
    font-style: italic;
}

div {
    margin: 20pt;
}

#visualizer {
    border: 1px solid rgb(0, 165, 168);
}

.textBox {
    font-family: 'Segoe UI', sans-serif;
    color: rgb(173, 173, 173);
    background-color: rgb(30, 30, 30);
    width: 30pt;
    border-width: 1pt;
    margin: 2pt;
    
}